a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 26px;
}
ul{
    list-style-type: none;
}
li{
    float: left;
}
li  a{
    display: block;
    padding: 0px 16px;
}
li  a:hover{
    color: #96b104;
}
.id_flower:hover{
    color: #96b104;
}
button:hover{
    color: #96b104;
}
h4{
    font-size: 16px;
}
.select:hover{
    color: #96b104;
}
.flower:hover{
    color: #96b104;
}
.breadcrumb a::after
{   
    color:#666;
    content: " >";
}
.head-2 {
    background: #f2f2f2;
    margin-bottom: 20px;
    padding: 20px;
}
.head-2 ul {
    list-style: none;
    padding: 0;
}
.head-2 li {
    display: inline-block;
    margin-right: 20px;
}
.head-2 a:before {
    background: #96b014;
    content: "";
    height: 3px;
    width: 15px;
    position: absolute;
    left: 0;
    top: 10px;
}
.head-2 a {
    display: block;
    font-weight: bold;
    padding-left: 22px;
    position: relative;
    color: #666;
    outline: none;
    text-decoration: none;
}